<div class="container">
  <form class="form" [formGroup]="newUserForm">
    <label class="label">Firs name</label>
    <input type="text" class="input" formControlName="firstName">
    <label class="label">Last name</label>
    <input type="text" class="input" formControlName="firstName">
    <label class="label">Email</label>
    <input type="text" class="input" formControlName="email">
    <label class="label">Phone number</label>
    <input type="text" class="input" formControlName="phone">
    <div class="buttonsContainer">
      <button class="cancelButton" (click)="onCancel()">Cancel</button>
      <button type="submit" class="addButton" (click)="onAddUser()">Add user</button>
    </div>
  </form>
</div>